.product-card{
    height: 400px;
    width: 200px;
    border:2px solid rgb(87, 87, 165);
    border-radius: 8px;
    gap:30px;
    margin-top: 25px;
   /* padding-top: 5px;*/
    padding-left: 5px;
    background-color: aliceblue;
    justify-content: space-evenly;
}
.product-hold{
    display: grid;
    gap:45px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 30px;
}

.product-card:hover{
   border: 3px solid rgb(80, 80, 142);
   background-color:rgb(203, 224, 241) ;
}
.delete{
    background-color:rgb(102, 179, 175) ;
    font-size: 20px;
   margin-left: 50px;
}
.edit{
      background-color:rgb(102, 179, 175) ;
    font-size: 20px;
   margin-left: 50px;
   margin-top: 10px;
}