
.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     margin: 150PX 450PX;  
     background-color: rgb(202, 224, 228); 
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form h2 {
    margin-bottom: 20px;
    color: #4f3a3a;
    text-align: center;
}

.signup-form label {
    margin-bottom: 5px;
    color: #555;
}

.signup-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 16px;
}

.signup-form input:focus {
    border-color: #a9ccf1;
    outline: none;
}

.signup-form button {
    padding: 15px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-form button:hover {
    background-color: #4cb455;
}